{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/bootstrap.ea80d697.css') }}">
{% endblock %}
{% block body %}
    <h1>Request</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <th scope="row">{{ request.id }}</th>
                <td>{{ request.name }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.subject }}</td>
                <td>{{ request.message }}</td>
                <td>{{ request.createdAt }}</td>
                <td>
                    {% if app.user.email == 'admin@mail.com' %}
                        <form action="{{ path('request_update_status', {'id': request.id}) }}" method="POST">
                            <select name="status">
                                <option value="Pending" {% if request.status == 'Pending' %}selected{% endif %}>Pending</option>
                                <option value="In Progress" {% if request.status == 'In Progress' %}selected{% endif %}>In Progress</option>
                                <option value="Completed" {% if request.status == 'Completed' %}selected{% endif %}>Completed</option>
                            </select>
                            <textarea name="comment" placeholder="Enter a comment"></textarea>
                            <button class="btn btn-info" type="submit">Update</button>
                        </form>
                    {% else %}
                        {{ request.status }}
                    {% endif %}

                    {% if request.getComment() %}
                        <strong>Comment:</strong> {{ request.getComment() }} <br>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bootstrap.db90759b.js') }}"></script>
{% endblock %}