{# templates/request/my_requests.html.twig #}

{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/bootstrap.ea80d697.css') }}">
{% endblock %}
{% block title %}My Requests{% endblock %}

{% block body %}
    <h1>My Requests</h1>

    {% if requests is empty %}
        <p>None</p>
    {% else %}
        <table class="table">
            <thead>
            <tr>
{#                <th scope="col">Number</th>#}
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
                <th scope="col">Comments</th>


{#                <th>Статус</th>#}
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
{#                    <th scope="row">{{ request.id }}</th>#}
                    <td>{{ request.name }}</td>
                    <td>{{ request.email }}</td>
                    <td>{{ request.subject }}</td>
                    <td>{{ request.message }}</td>
                    <td>{{ request.status }}</td>
                    <td>{{ request.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bootstrap.db90759b.js') }}"></script>
{% endblock %}

